*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  background: #EDEEF0; }

body, html {
  height: 100%; }

.wrapper {
  width: 100%;
  min-height: 100vh; }

.demo-input.placeholder,
.demo-textarea.placeholder {
  color: #dcdddf; }

.demo-input:-moz-placeholder,
.demo-textarea:-moz-placeholder {
  color: #dcdddf; }

.demo-input::-moz-placeholder,
.demo-textarea::-moz-placeholder {
  color: #dcdddf; }

.demo-input:-ms-input-placeholder,
.demo-textarea:-ms-input-placeholder {
  color: #dcdddf; }

.demo-input::-webkit-input-placeholder,
.demo-textarea::-webkit-input-placeholder {
  color: #dcdddf; }

.demo-text {
  font-size: 2rem; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white; }
  .header .nav-wrapper {
    display: flex;
    flex-direction: column; }
    @media (max-width: 766px) {
      .header .nav-wrapper {
        align-items: center; } }
    @media (min-width: 767px) {
      .header .nav-wrapper {
        flex-direction: row; } }
    .header .nav-wrapper__list {
      list-style-type: none; }
      @media (max-width: 766px) {
        .header .nav-wrapper__list {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          width: 100%;
          max-width: 272px;
          margin-bottom: 20px; } }
      .header .nav-wrapper__list li {
        color: #8a8a8a;
        font-family: "proxima-nova",sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        display: inline-block;
        cursor: pointer; }
        @media (min-width: 767px) {
          .header .nav-wrapper__list li {
            padding-right: 30px; } }
        .header .nav-wrapper__list li a {
          text-decoration: none;
          color: #8a8a8a;
          letter-spacing: 2px; }
          .header .nav-wrapper__list li a:hover {
            color: #000000;
            text-decoration: underline; }
          .header .nav-wrapper__list li a:active {
            color: #8a8a8a; }
      .header .nav-wrapper__list li:hover {
        text-decoration: underline;
        text-underline-position: under; }
    @media (min-width: 767px) {
      .header .nav-wrapper__name {
        position: absolute;
        right: 5%; } }
    .header .nav-wrapper__name h1 {
      font-family: "proxima-nova",sans-serif;
      font-weight: 800;
      font-size: 23px;
      letter-spacing: 2px;
      text-transform: uppercase;
      cursor: pointer; }
      @media (max-width: 361px) {
        .header .nav-wrapper__name h1 {
          font-size: 20px; } }

.footer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 15px 45px 15px;
  background-color: white;
  display: flex;
  flex-direction: column; }
  @media (min-width: 767px) {
    .footer {
      position: fixed;
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }
  .footer__name-wrapper p {
    color: #8a8a8a;
    font-family: "proxima-nova",sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin: 0 auto;
    text-align: center; }
  .footer__social-wrapper p {
    color: #8a8a8a;
    font-family: "proxima-nova",sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: center; }

.hero {
  font-family: arial;
  padding: 150px 50px 50px 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
